<!-- ** Alerta de No hay Registros y Cargando Datos -->
<div class="row mt-5  animated fadeIn" *ngIf="!flag">
    <div class="col">

        <div class="alert alert-info text-center" role="alert" *ngIf="message == 'Cargando Base de Datos'">
            <strong>{{message}}</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span class="mt-2">Espere por favor</span>
        </div>

        <div class="alert alert-warning text-center" role="alert" *ngIf="message !== 'Cargando Base de Datos'">
            <strong>{{message}}</strong>
            <br>
            <i class="fa fa-warning fa-2x"></i>
        </div>

    </div>
</div>

<!-- *** Tabla de Datos -->

<div class="row animated fadeIn mt-3" *ngIf="flag">
    <div class="col-12">
        <div class="card-body bg-white">
            <h4 class="card-title">Listado de Ordenes - <span class="text-success">Gestión</span> (<small>{{totalRegistros}}</small>)</h4>

            <app-table-ordenes [items]="eventos" [nombre]="'EspecialistaEnd'" [color]="'text-success'" *ngIf="flag">
            </app-table-ordenes>

            <button class="btn btn-secondary btn-sm m-1" (click)="cambiarPagina(-10)">
        <i class="pe-7s-angle-left"></i>
      Anterior
    </button>
            <button class="btn btn-secondary btn-sm m-1" (click)="cambiarPagina(10)">
        Siguiente
        <i class="pe-7s-angle-right"></i>

    </button>

        </div>

    </div>
</div>

<br>
<br>